%h1
  =I18n.t('listing_words')
  |
  =@exercise.name

.levels
  - (0..7).each do |level|
    %h3="Level #{level}:"
    - @exercise.find_all_by_level(level).each do |word|
      =link_to word.name, exercise_word_path(@exercise,word)
      |

%br

- content_for :sidebar do
  .box
    %ul.sidebar
      %li= link_to I18n.t('new_word'), new_exercise_word_path, :rel => :facebox, :class => :button
      %li
        = link_to t('start_training'), exercise_word_path(@exercise,@exercise.find_next_word) rescue t('start_training')
