%h1=I18n.t('listing_exercises')

%ul#exercise-list
  - @exercises.each do |exercise|
    %li
      %h2= link_to exercise.name, exercise
      = link_to I18n.t('edit'), edit_exercise_path(exercise), :class => 'button', :rel => 'facebox'
      = link_to I18n.t('destroy'), exercise, :confirm => I18n.t('are_you_sure'), :method => :delete, :class => 'button'

%br

= link_to I18n.t('new_exercise'), new_exercise_path, :rel => :facebox
